<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <a href="/">
            <img src="/dockmon_logo.svg" alt="DockMon Logo" style="width: 150px; height: 50px; margin-top:5px;">
        </a>
    </header>
    <div class="login-container">
        <h1>Docker Dashboard Login</h1>
        <form action="/login" method="POST" class="form" autocomplete="off">
            <!-- Dummy-Feld, um Autovervollständigung zu verhindern -->
            <input type="text" style="display:none" autocomplete="username">
            <input type="password" style="display:none" autocomplete="new-password">

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="user_name" required autocomplete="off" value="">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="user_pass" required autocomplete="off" value="">
            </div>
            <button type="submit" class="button">Login</button>
        </form>
    </div>

    <footer style="text-align: center; margin-top: 20px;">
        <p>Copyright 2025 by Frank Dase</p>
    </footer>
</body>
</html>